.callback
    border: 1px solid #ccc
    border-radius: 4px
    padding: 24px
    max-width: 330px
    min-width: 150px
    background-color: #408d47
    color: #fff
    position: fixed
    right: 30px
    top: 300px

.drop
    animation-name: drop
    animation-duration: .57s
    animation-timing-function: ease-out

@keyframes drop
    0%
        top: 310px
    25%
        top: 290px
    50%
        top: 305px
    75%
        top: 295px
    100%
        top: 300px