.callback
    position: fixed
    right: 0px
    top: 300px
    padding: 20px
    transform: rotate(-270deg)
    transform-origin: 200% 100%
    // border: 1px solid red
    
.callback__body
    box-sizing: border-box
    border: 1px solid #ccc
    border-radius: 4px
    padding: 24px
    max-width: 330px
    min-width: 150px
    background-color: #408d47
    color: #fff


.drop
    animation-name: drop
    animation-duration: .57s
    animation-timing-function: ease-out

.show
    animation-name: show
    transform: rotate(0deg)
    animation-duration: 1.5s
    animation-timing-function: linear
    

@keyframes show
    0%
        transform: rotate(-270deg)
    50%
        transform: rotate(5deg)
    100%
        transform: rotate(0deg)

@keyframes drop
    0%
        top: 310px
    25%
        top: 290px
    50%
        top: 305px
    75%
        top: 295px
    100%
        top: 300px